@import "../../theme/variables.scss";

.calendar-header {
  overflow-x: auto;
  white-space: nowrap;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: map-get($colors, primary);
  margin-bottom: 1rem;
}

.week {
  overflow-x: auto;
  white-space: nowrap;
  align-items: center;
}

.habits-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 16px;
  padding: 16px;
  justify-items: center;

  .habit-card {
    width: 100%;
    ion-card {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      ion-card-title {
        font-size: 1.2rem;
        color: #49435d;
      }
      ion-card-content {
        font-size: 1rem;
        color: #4d57c8;
        p {
          font-size: 0.9rem;
          margin: 0;
        }
        .card-buttons {
          display: flex;
          justify-content: space-between;
          margin-top: 10px;
        }
      }
    }
  }
}

.empty-placeholder {
  text-align: center;
  color: #ffffff;
  font-style: italic;
}

.dropdown-container {
  display: flex;
  justify-content: center;
  margin-top: 16px;
  width: 100%;
}

.dropdown-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  --background: #ffffff;
  --color: #000000;
  --inner-padding-end: 0;
  border: none;
}

.dropdown-label {
  flex-shrink: 0;
  font-size: 16px;
  color: #333;
}

ion-button {
  background-color: map-get($colors, primary);
  --background-activated: #2d3273;
  --color: #ffffff;
}

ion-button[fill="clear"] {
  background-color: transparent !important;
  --background: transparent !important;
  --color: inherit !important;
}

ion-segment {
  width: 100%;
}

ion-segment-button {
  background-color: map-get($colors, primary);
  justify-content: space-between;
  justify-content: center;
  --color: #ffffff;
}

ion-toolbar {
  --background: #653c92;
  --color: #ffffff;
}

ion-card-title {
  font-size: 1.2rem;
  color: #49435d;
}

ion-card-content p {
  font-size: 1rem;
  font-weight: bold;
  color: #4d57c8;
}

ion-card {
  --border-radius: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  --background: #ffffff;
}

ion-select {
  flex-grow: 1;
  max-width: 200px;
}

ion-fab-button {
  --background: #e5e6f3;
  --color: #7366ad;
}

.custom-fab {
  bottom: 40px;
  right: 40px;
}