@import "../../theme/variables.scss";

ion-menu-button {
  --icon-color: #ffffff;
}

.calendar-header {
    overflow-x: auto;
    white-space: nowrap;
    display: flex;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
    background-color: #4d57c8;
    margin-bottom: 1rem;
}

.week {
  overflow-x: auto;
  white-space: nowrap;
  align-items: center;
}

.custom-edit-button {
  --background: #ffffff;
  --color: #424aa9;
  --border-radius: 20px;
  font-weight: bold;
}

.habits-container {
    display: flex;
    color: black;
    background-color: #4d57c8;
    align-items: first baseline;
    justify-content: space-between;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.empty-placeholder {
  text-align: center;
  color: #ffffff;
  font-style: italic;
}

.dropdown-container {
  display: flex;
  justify-content: center;
  margin-top: 16px;
  width: 100%;
}

.dropdown-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  --background: #ffffff;
  --color: #000000;
  --inner-padding-end: 0;
  border: none;
}

.dropdown-label {
  flex-shrink: 0;
  font-size: 16px;
  color: #333;
}

ion-button{
  --background: #424aa9;
  --background-activated: #2d3273;
  --color: #ffffff;
}

ion-segment {
  width: 100%
}

ion-segment-button {
  --background: #424aa9;
  justify-content: space-between;
  justify-content: center;
  --color: #ffffff;
}

ion-toolbar {
    --background: #4d57c8;
    --color: #ffffff;
}

ion-card-title {
    font-size: 1.2rem;
    color: #49435d;
}

ion-card-content p {
    font-size: 2rem;
    font-weight: bold;
    color: #4d57c8;
}

ion-card {
    width: 150px;
    height: 200px;
    --border-radius: 16px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    --background: #ffffff;
}


ion-select {
  flex-grow: 1;
  max-width: 200px;
}

ion-fab-button {
    --background: #e5e6f3;
    --color: #7366ad;
}

.custom-fab {
  bottom: 40px;
  right: 40px;
}
/*
ion-modal .modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.goal-type ion-button {
  margin: 5px;
}

ion-button {
  width: 100%;
  margin-top: 20px;
}

ion-item {
  width: 100%;
}

ion-datetime {
  width: 100%;
  margin-top: 10px;
}
*/