@import "../../theme/variables.scss"; 
ion-content{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

.wrapper{
    display: flex;
    color: black;
    background-color: map-get($colors, primary);
    align-items: center;
  //  justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
   
}

#text{
    margin-top: 35%;

    #butfirst{
        color: rgba(255, 255, 255, 0.719);
    }
}

ion-input{
    background-color: rgba(255, 255, 255, 0.471);
    text-align: left;
}

#buttonsArea{
margin-top: 10%;
}

ion-button{
    width: 100%;
    max-width: 300px;
}

