<ion-header class="ion-no-border">
  
</ion-header>

<ion-content [fullscreen]="true">
  <div class="wrapper">
    <div id="text">
      <strong><p>Let's Get Motivated!</p></strong>
      <p id="butFirst">But first, let's log you in. </p>
    </div>
    <form >

      <ion-item class="input-item">
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email"></ion-input>
      </ion-item>

      <ion-item class="input-item">
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>

      <ion-button expand="block" type="submit" class="register-button">
        GET STARTED
      </ion-button>
    </form>

    <p style="margin-top: 30px;">No account? Register Here</p>
    <ion-button expand="block" (click)="onRegisterClick()" class="register-button"> REGISTER </ion-button>
  </div>
</ion-content>
