
Project/.browserslistrc
Project/.editorconfig
Project/.eslintrc.json
Project/.vscode/extensions.json
Project/.vscode/settings.json
Project/capacitor.config.ts
Project/angular.json
Project/ionic.config.json
Project/karma.conf.js
Project/package-lock.json
Project/package.json
.vscode
Project/tsconfig.app.json
Project/tsconfig.json
Project/tsconfig.spec.json
projectCRUD/.browserslistrc
projectCRUD/.eslintrc.json
projectCRUD/angular.json
projectCRUD/capacitor.config.ts
projectCRUD/ionic.config.json
projectCRUD/karma.conf.js
projectCRUD/package-lock.json
projectCRUD/package.json
projectCRUD/.editorconfig
projectCRUD/tsconfig.app.json
projectCRUD/tsconfig.json
projectCRUD/tsconfig.spec.json
