<ion-content [fullscreen]="true">
  <div class="wrapper">
    <div class="notification-container">
      <div class="notification">
        <div class="notification-icon">
          <img src="assets/icons/workout.png" alt="workout icon" />
        </div>
        <div class="notification-content">
          <h4>Don’t miss your lower-body workout</h4>
          <p>About 3 hours ago</p>
        </div>
      </div>
      <div class="notification">
        <div class="notification-icon">
          <img src="assets/icons/meals.png" alt="meals icon" />
        </div>
        <div class="notification-content">
          <h4>Hey, let’s add some meals for your b...</h4>
          <p>About 3 hours ago</p>
        </div>
      </div>
    </div>
  </div>
</ion-content>
