


<ion-content [fullscreen]="true">
 <div class="wrapper">
   <strong><p id="profile">Profile</p></strong>
    <div id="profCard">
      <div id="namePic">
          <ion-avatar id="avatar">
            <img src="assets/jbh.jpg" id="prof">
          </ion-avatar>
        <strong><p id="name">John Doe</p></strong>
        <ion-select id="selector" placeholder="Today">
          <ion-select-option value="today">Today</ion-select-option>
          <ion-select-option value="week">This Week</ion-select-option>
          <ion-select-option value="month">This Month</ion-select-option>
          <ion-select-option value="year">This Year</ion-select-option>
        </ion-select>
      </div>

      <div id="stats">
        
        <div id="totalHours">
          <p id="total">Total Hours</p>
          <strong> <p id="hours">100</p></strong>
        </div>

        <div id="tasks">
          <p id="taskCompleted">Tasks Completed</p>
          <strong><p id="totalTask">12</p></strong>
        </div>

      </div>

    </div>
      
 </div>
 
</ion-content>
