@import "../../theme/variables.scss";

ion-header {
    ion-toolbar {
        --ion-toolbar-background-color: transparent;
        ion-button {
            color: black;
        }
    }
}

ion-content{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.input-item {
    --background: #d4d0e2;
    --ion-text-color: #333;
    border-radius: 4px;
    margin-bottom: 5px;
}

.form-container {
    display: flex;
    color: black;
    background-color: #ffffff;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin-top: -20px;
}

.heading{
    text-align: center;
    display: block;
    margin-bottom: 20px;
    color: #766a9f;
    font-weight: bold;
}

.log-with-email{
    text-align: center;
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;
    color: #8d8895;
    font-weight: bold;
}

.login-link {
    text-align: center;
    display: block;
    margin-top: 15px;
    color: #000000;
}
  
a {
    color: #6a78c0;
    text-decoration: none;
    font-weight: bold;
}
  
ion-item {
    --background: transparent;
    width: 100%;
}

.privacy-policy {
    text-align: center;
    display: block;
    margin-top: 15px;
    font-weight: bold;
    color: #b4b3ba;
}
  
ion-button.register-button {
    --background: #7583ca;
    --background-activated: #515c96;
    --color: #edebf0;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 20px;
    width: 100%;
}

ion-button.fbButton {
    --background: #7583ca;
    --background-activated: #515c96;
    --color: #edebf0;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 20px;
    width: 100%;
}

ion-button.googleButton {
    --background: #e3e5ee;
    --background-activated: #868ba5;
    --color: #514a58;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 100%;
}
  
.error-message {
    color: #ac273f;
    font-weight: bold;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}