

<ion-content [fullscreen]="true">

 <div class="wrapper">
    <strong><p id="settings">Settings</p></strong>
    <br>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Profile</ion-card-title>
      </ion-card-header>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Vacation Mode<ion-toggle></ion-toggle></ion-card-title>
      </ion-card-header>
      <!--NEED E FIX ANG BAROG SA VACATION MODE PLZ FIX AND ANG SPACING SA CARDS
      ALSO, NEED SA SIYAG KATONG SIDE BAR-->
    </ion-card>



    <ion-card>
      <ion-card-header>
        <ion-card-title>Help</ion-card-title>
      </ion-card-header>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Feedback</ion-card-title>
      </ion-card-header>
    </ion-card>


    <ion-card>
      <ion-card-header>
        <ion-card-title>Logout</ion-card-title>
      </ion-card-header>
    </ion-card>

    
 </div>

</ion-content>
